.calendar-container {
  height: 70vh;
  overflow: hidden;
}

.rbc-calendar {
  height: 100% !important;
}

.rbc-event-label {
  display: none !important;
}

.rbc-time-view {
  border: none;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.rbc-time-header.rbc-overflowing {
  border-right: none;
}

.rbc-time-header-content {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  margin: 0 !important;
}

.rbc-header {
  flex: 1;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.rbc-time-header-cell {
  height: auto;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-gutter {
  width: 80px;
}

.rbc-timeslot-group {
  min-height: 40px;
  height: auto !important;
  flex: 1;
  min-height: 0 !important;
}

.rbc-event {
  border: 1px solid #ccc;
  padding: 5px 10px;
  background-color: #f9f9f9;
  overflow: visible;
  white-space: nowrap;
}

.rbc-time-header-content {
  display: flex;
  justify-content: space-between;
}

.rbc-header {
  flex: 1;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.rbc-time-view .rbc-day-slot {
  width: 20% !important;
}

.rbc-event-content {
  font-size: 0.68em;
}

.rbc-time-content {
  flex: 1;
  overflow: hidden !important;
}

.rbc-time-column {
  display: flex;
  flex-direction: column;
}

.rbc-today {
  background-color: inherit !important;
}

.rbc-current-time-indicator {
  display: none;
}

.rbc-header > * {
  font-size: initial;
}

.rbc-header {
  border: none !important;
}

.rbc-time-header.rbc-overflowing {
  border-right: none !important;
}

.rbc-header span {
  direction: ltr;
  text-align: center;
  width: auto;
  overflow: visible;
  display: block;
}

.rbc-header span {
  width: auto;
  overflow: visible;
}

.rbc-today {
  background-color: inherit !important;
  border: none !important;
}

.rbc-time-view .rbc-header.rbc-today,
.rbc-time-view .rbc-day-slot.rbc-today {
  background-color: inherit !important;
  border: none !important;
}

.rbc-day-slot .rbc-time-slot {
  border: none !important;
}

.rbc-time-view .rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f0f0f0 !important;
}

.rbc-header {
  padding: 0;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
  line-height: normal;
}

.rbc-header span {
  padding: 0;
}

.rbc-time-header-content {
  border-left: none;
}

.rbc-time-header.rbc-overflowing {
  border-right: none;
}
